<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/application.css">
  <link rel='stylesheet' href='bootstrap.css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <title>Robot World</title>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
